/*
  .scss/framework/_variables.scss
  Variables du framework
 */

/* COULEURS */
  $couleur1: #00BC62;
  $couleur1Claire: lighten($couleur1, 30%);
  $couleur1Foncee: darken($couleur1, 20%);

  $couleur2: #E6CF8B;
  $couleur2Claire: lighten($couleur2, 30%);
  $couleur2Foncee: darken($couleur2, 20%);

  $couleurNeutre: #999;
  $couleurNeutreClaire: lighten($couleurNeutre, 30%);
  $couleurNeutreFoncee: darken($couleurNeutre, 20%);

/* DIMENSIONS */
  $largeurBoiteFixe: 1200px;
  $tailleGrand:      2rem;
  $tailleNormal:     1.3rem;
  $taillePetit:      .8rem;

/* MENUS */
  $menuPadding: 1rem;
  $menuCouleurOff: #000;
  $menuCouleurTexteOff: #fff;
  $menuCouleurOn: #333;
  $menuCouleurTexteOn: #E6CF8B;

/* MENUS PAGINATION */
  $paginationAlignement: center;
  $paginationDimension: 2rem;
  $paginationCouleurOff: #fff;
  $paginationCouleurTexteOff: $couleurNeutre;
  $paginationCouleurBordsOff: $couleurNeutre;
  $paginationCouleurOn: $couleur1;
  $paginationCouleurTexteOn: #fff;
  $paginationCouleurBordsOn: $couleur1;

/* BOITES */
  $paddingBoite: 1rem;
  $tailleBordsBoite: 1px;
  $couleurBordsBoite: #666;

/* GRILLES */
  $nbreColonnesGrille: 12;
  $gouttiereGrille: .5rem;
