{#
  ./templates/page/show.html.twig
  Variables disponibles:
    - page Array((id,tri,titre,text,titreMenu,locale))
#}


    {% for page in pages %}
    <li class="{% if route is same as('app.page.show') and (id == page.id) %}active{% elseif route is same as('app.homepage')and page.id == id %}active{% endif %}">
      <a href="{{path('app.page.show',{id:page.id,slug:page.slug})}}">
      {{page.titreMenu}}</a>
    </li>
    {% endfor %}
