{#
./templates/page/show.html.twig
Variables disponibles:
- page Array((id,tri,titre,text,titreMenu,locale))
#}





<!-- Latest News FB -->


{% for item in arr.channel.item|slice(0,4) %}


<div class="row">
  <div class="col-sm-12">
    <div class="caption"><a href="{{ item.link }}">{{ item.title }}</a></div>
    <div class="date">{{item.pubDate|date("d M Y ")}}</div>
    <div class="intro">
      {% for description in item.description %}
      {{description}}
      {% endfor %}
      <a href="{{ item.link }}">Read more...</a></div>
    </div>
  </div>

  {% endfor %}
