{#
  ./templates/page/show.html.twig
  Variables disponibles:
    - page Array((id,tri,titre,text,titreMenu,locale))
#}

{% extends 'base.html.twig' %}

{% block title %}{{page.slug}}{% endblock %}

{% block content1 %}
<!-- Our Portfolio -->
{% if page.id == 1  %}
<div class="section section-white">
{% include 'page/show/show1.html.twig' %}
</div>
{% elseif  page.id == 2 %}
{% include 'page/show/show2.html.twig' %}
{% elseif  page.id == 3 %}
{% include 'page/show/show3.html.twig' %}
{% elseif  page.id == 4 %}
{% include 'page/show/show4.html.twig' %}

{% endif %}

{% endblock %}
