{#
  ./templates/page/show/show1.html.twig
  Variables disponibles:
    - page Array((id,tri,titre,text,titreMenu,locale))
#}


<!-- Page Title -->
<div class="section section-breadcrumbs">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1>{{page.titre |raw}}</h1>
  </div>
</div>
</div>
</div>


    
<div class="section">
<div class="container">
<div class="row">
<div class="col-sm-12">
{{page.text|raw}}
  </div>
</div>
</div>
</div>


<div class="section">
<div class="container">
<div class="row">

{{ render(controller('App\\Controller\\PostController::paginationAction',{vue:'pagination'})) }}

</div>
</div>
</div>
