{#
./templates/page/show/show1.html.twig
Variables disponibles:
- page Array((id,tri,titre,text,titreMenu,locale))
#}

<!-- Our Portfolio -->
{{ render(controller('App\\Controller\\WorkController::indexAction',{vue:'slider'})) }}
<!-- ENVOYER LA VUE SLIDE  -->
<div class="section section-white">
  <div class="container">
    <div class="row">

      <div class="section-title">
        <h1>{{'titre.section.work'| trans({}, 'body')}}</h1>
      </div>
      <ul class="grid cs-style-3">
        {{ render(controller('App\\Controller\\WorkController::indexAction',{vue:'liste',limit:6,orderBy:{'dateCreation':'desc'}})) }}
      </ul>
    </div>
  </div>
</div>
<!-- Our Portfolio -->
<hr>
<!-- Our Articles -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 featured-news">
        <h2>{{'titre.section.post'| trans({}, 'body')}}</h2>
        <!-- Featured News -->
        {{ render(controller('App\\Controller\\PostController::indexAction',{vue:'index',limit:3,orderBy:{'dateCreation':'desc'}})) }}
      </div>
      <!-- End Featured News -->

      <!-- Latest News FB -->
      <div class="col-sm-6 latest-news">
        <h2>{{'titre.section.social'| trans({}, 'body')}}</h2>
        <div class="row">
          <div class="col-sm-12">
            {{ render(controller('App\\Controller\\PageController::viewRSSAction')) }}
          </div>
        </div>

      </div>
      <!-- End Featured News -->
    </div>
  </div>
</div>
