{#
  ./templates/page/show/show1.html.twig
  Variables disponibles:
    - page Array((id,tri,titre,text,titreMenu,locale))
#}


<!-- Page Title -->
<div class="section section-breadcrumbs">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1>{{page.titre}}</h1>
  </div>
</div>
</div>
</div>



<div class="section section-map">
      <div class="col-sm-12" style="padding:0;">
        <!-- Map -->
        <div id="contact-us-map">
<iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJpy1wPRz0wEcRq6ddtLc8Wy0&key=AIzaSyDx-yeSZ3mDDPETbCTqOposR2o0oSSQy2k" allowfullscreen></iframe>
        </div>
        <!-- End Map -->
  </div>
</div>




<div class="section">
<div class="container">
    <div class="row">
  <h3>{{'titre.section.contact'| trans({}, 'body')}}</h3>
  </hr>
      <div class="col-sm-6">
        <!-- Contact Info -->
        <p class="contact-us-details">
          <b>{{'contact.adress'| trans({}, 'footer')}}:</b> {{'contact.fullAdress'| trans({}, 'footer')}}<br/>
          <b>{{'contact.phone'| trans({}, 'footer')}}:</b> +44 123 654321<br/>
          <b>Fax:</b> +44 123 654321<br/>
          <b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
        </p>
        <!-- End Contact Info -->
      </div>
      <div class="col-sm-6">

      </div>
    </div>
</div>
</div>
