{#
./templates/page/show/show1.html.twig
Variables disponibles:
- page Array((id,tri,titre,text,titreMenu,locale))
#}


<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ page.titre | raw}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{page.text|raw}}
      </div>
    </div>
  </div>
</div>




<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2" id='listePosts'>
        {{ render(controller('App\\Controller\\WorkController::indexAction',{vue:'liste',limit:3,orderBy:{'dateCreation':'desc'}})) }}
      </ul>

    </div>

    <ul class="pager">
      <li><a href="#" id="moreBtn" data-path="{{path('app.work.more')}}">More works</a></li>
    </ul>

  </div>
</div>
