{#
  ./templates/partials/footer.html.twig

#}
<div class="container">

  <div class="row">

    <div class="col-footer col-md-4 col-xs-6">
      <h3>{{'contact.titre'|trans({}, 'footer') }}</h3>
      <p class="contact-us-details">
          <b>{{'contact.adress'| trans ({}, 'footer')}}:</b>{{'contact.fullAdress'| trans ({}, 'footer')}}<br/>
          <b>{{'contact.phone'| trans ({}, 'footer')}}:</b> +1 123 45678910<br/>
          <b>Fax:</b> +1 123 45678910<br/>
          <b>Email:</b> <a href="mailto:info@yourcompanydomain.com">info@yourcompanydomain.com</a>
        </p>
    </div>
    <div class="col-footer col-md-4 col-xs-6">
      <h3>{{'social.titre'| trans ({}, 'footer')}}</h3>
    <p>{{'social.texte'| trans ({}, 'footer')}}</p>
      <div>
        <img src="{{asset('img/icons/facebook.png')}}" width="32" alt="Facebook">
        <img src="{{asset('img/icons/twitter.png')}}" width="32" alt="Twitter">
        <img src="{{asset('img/icons/linkedin.png')}}" width="32" alt="LinkedIn">
      <img src="{{asset('img/icons/rss.png')}}" width="32" alt="RSS Feed">
    </div>
    </div>
    <div class="col-footer col-md-4 col-xs-6">
      <h3>{{'about.titre'| trans ({}, 'footer')}}</h3>
        <p>{{'about.texte'| trans ({}, 'footer')}}</p>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="footer-copyright">
        &copy; 2014 <a href="http://www.vactualart.com/portfolio-item/basica-a-free-html5-template/">Basica</a> Bootstrap HTML Template. By <a href="http://www.vactualart.com">Vactual Art</a>.
        |<a href="{{ path('fos_user_registration_register') }}"> Register</a> | <a href="{{ path('fos_user_security_login') }}">Administration</a>
      </div>
    </div>
  </div>
</div>
