{#
  ./templates/partials/nav.html.twig

#}
<div class="navbar-header" >
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{path('app.homepage')}}"><img src="{{asset('img/logo.png')}}" alt="Basica"></a>
</div>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      {{ render(controller('App\\Controller\\PageController::indexPageAction',{route:app.request.attributes.get('_route'),id:app.request.attributes.get('id')})) }}
    </ul>
</div>

<div class="float-right">


  <a href="{{path(app.request.attributes.get('_route'),{_locale: 'fr',id:app.request.attributes.get('id'),slug:app.request.attributes.get('slug'),'page':app.request.query.get('page')})}}" class="{% if app.request.attributes.get('_locale') == 'fr' %}active{% endif %}">FR</a> |
  <a href="{{path(app.request.attributes.get('_route'),{_locale: 'en',id:app.request.attributes.get('id'),slug:app.request.attributes.get('slug'),'page':app.request.query.get('page')})}}" class="{% if app.request.attributes.get('_locale') == 'en' %}active{% endif %}">EN</a>

</div>
