{#
  ./templates/partials/scripts.html.twig

#}
<!-- Javascripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>
<script src="{{asset('js/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
