@charset "UTF-8";
/*
./scss/app.scss
 */
/*
  .scss/framework/_variables.scss
  Variables du framework
 */
/* COULEURS */
/* DIMENSIONS */
/* MENUS */
/* MENUS PAGINATION */
/* BOITES */
/* GRILLES */
/* ----------------------------------------------------
   SPECIFICATIONS GENERALES (valeurs par défaut)
   ----------------------------------------------------
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F8F5F5;
  color: #000000;
  font-family: 'Noto Sans JP', sans-serif;
}

article figure {
  height: 7em;
}

input {
  border: none;
}

span {
  color: #E6CF8B;
}

h1 {
  font-size: 50px;
}

main {
  margin-bottom: 10rem;
}

footer > div {
  background: #1D272B;
}

/* ----------------------------------------------------
     OBJETS PARTICULIERS
     ----------------------------------------------------
  */
/* ----------------------------------------------------
     HEADER
     ----------------------------------------------------
  */
header h1 {
  padding-top: 14.5rem;
  padding-right: 0;
  color: #FFF;
}

h1, h2, nav {
  line-height: 50px;
  font-weight: bold;
}

#header_Hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../media/company-concept-creative-7369.jpg");
  background-position: center ,65%;
  background-repeat: no-repeat;
  height: 761px;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%);
}

/* ----------------------------------------------------
    SECTION ABOUT
    ----------------------------------------------------
 */
#about p {
  text-align: left;
  padding: 0 80px 0 80px;
}

#aboutImg {
  margin-top: 5rem;
}

#aboutImg img {
  border-radius: 50%;
  width: 60%;
}

/* ----------------------------------------------------
      SECTION  WHAT I CAN DO
     ----------------------------------------------------
  */
.otherSkills {
  position: absolute;
  margin: 0;
  min-width: 50px;
  display: inline-block;
  background-color: rgba(181, 105, 105, 0.8);
  height: 100%;
  width: 10%;
}

.otherSkills a {
  position: relative;
  color: #fff;
  top: 35%;
  left: 40%;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#what_Section {
  position: relative;
  margin-top: 10.5rem;
}

#what_Section h1 {
  position: absolute;
  top: 5%;
  left: 11%;
  display: inline-block;
  color: #fff;
}

#what_Hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../media/ai-blur-codes-577585.jpg");
  background-position: center , 0px;
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
}

.graph {
  margin-top: 250px;
  text-align: center;
  display: inline-block;
}

.graph div {
  box-shadow: 1px 1px #000000;
  text-align: center;
  padding: 20px 50px;
  display: inline-block;
  background-color: #225560;
  transition: all .3s ease;
}

.graph div:hover {
  opacity: .5;
  cursor: pointer;
}

#otherLink {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#otherLink a {
  text-align: right;
  text-decoration: none;
  color: #00BC62;
}

#otherLink a:hover {
  color: #fff;
}

/* ----------------------------------------------------
     SECTION  PORTFOLIO
    ----------------------------------------------------
 */
.portfolio_section h1 {
  color: #000000;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.portfolio_section article {
  height: 368.812px;
  color: #fff;
}

.portfolio_section article h1 {
  color: #fff;
  margin: 2.5rem 0 0 0;
}

.portfolio_section article:nth-of-type(1) {
  background: url(../media/brand-business-caffeine-1437318.jpg);
  background-size: cover;
}

.portfolio_section article:nth-of-type(2) {
  background: url(../media/blur-bottle-brand-593099.jpg);
  background-size: cover;
}

.portfolio_section article:nth-of-type(3) {
  background: url(../media/advertise-advertisement-advertising-1534518.jpg);
  background-size: cover;
}

.portfolio_section article:nth-of-type(4) {
  background: url(../media/bottle-brand-cologne-755992.jpg);
  background-size: cover;
}

.portfolio_section a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  margin-bottom: 2rem;
  padding: 0.5rem 0.7rem;
}

/* ----------------------------------------------------
    ANIMATION PORTFOLIO
   ----------------------------------------------------
*/
.hovereffect {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

#project_title {
  text-transform: uppercase;
  position: relative;
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
}

.hovereffect .info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover #project_title, .hovereffect:hover a.info, span {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info, span {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.info span {
  color: #fff;
}

.overlay a {
  padding: 0.3em calc(0.3em * 1.2);
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 0.07em;
}

.overlay a .text {
  padding: 0 0.3em;
  transform: translate3d(0, 0.3em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.overlay a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.3em * 1.2);
  right: calc(0.3em * 1.2);
  height: 3px;
  background: #00BC62;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.overlay .line {
  position: absolute;
  background: #00BC62;
}

.overlay .line.-right, .overlay .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}

.overlay .line.-top, .overlay .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}

.overlay .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

.overlay .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

.overlay .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

.overlay .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.overlay a:hover .text,
.overlay a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.overlay a:hover:after,
.overlay a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.overlay a:hover .line,
.overlay a:active .line {
  transform: scale3d(1, 1, 1);
}

.overlay a:hover .line.-right,
.overlay a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}

.overlay a:hover .line.-top,
.overlay a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

.overlay a:hover .line.-left,
.overlay a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

.overlay a:hover .line.-bottom,
.overlay a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

/*----------------------------------------------------
    FORM
  ----------------------------------------------------*/
#contactBar {
  position: absolute;
  background: #fff;
  width: 100px;
  height: 6px;
  left: 47%;
  bottom: 75%;
}

#FormSection {
  position: relative;
}

#FormSection h1 {
  margin-top: 5rem;
  color: #FFF;
  padding: 0.5rem 0 0.5rem 0;
  margin-bottom: 0;
}

#FormSection div:first-child {
  margin-top: 4rem;
}

#FormSection div:last-child {
  margin-bottom: 6rem;
}

#FormSection ::placeholder {
  color: #fff;
}

#FormSection input[type="text"], #FormSection input[type="email"], #FormSection textarea {
  color: #fff;
  outline: none;
  border-bottom: 1px solid #384952;
  min-width: 50%;
  background: transparent;
  font-size: 1rem;
  height: 45px;
}

#FormSection textarea {
  border: none;
}

#FormSection input[type="button"] {
  margin-top: 2rem;
  padding: 10px 30px;
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
  border: solid 2px #fff;
}
