@charset "UTF-8";
/*
./scss/framework.scss
 */
/*
  .scss/framework/_variables.scss
  Variables du framework
 */
/* COULEURS */
/* DIMENSIONS */
/* MENUS */
/* MENUS PAGINATION */
/* BOITES */
/* GRILLES */
/*
  ./scss/framework/modules/_reset.scss
  Reset
 */
figure {
  margin: 0;
}

img {
  width: 100%;
}

/*
  ./scss/framework/modules/_grilles.scss
  Module des grilles
 */
* {
  box-sizing: border-box;
}

.grille-g {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.grille-g > * {
  margin: 0.5rem;
  flex-basis: calc(100% - (2 * 0.5rem));
}

/* Pour les écrans XS et au-delà (à partir de 0px) */
@media screen and (min-width: 0px) {
  .xs1 {
    flex-basis: calc( (100% * 1 / 12) - (2 * 0.5rem));
  }
  .xs2 {
    flex-basis: calc( (100% * 2 / 12) - (2 * 0.5rem));
  }
  .xs3 {
    flex-basis: calc( (100% * 3 / 12) - (2 * 0.5rem));
  }
  .xs4 {
    flex-basis: calc( (100% * 4 / 12) - (2 * 0.5rem));
  }
  .xs5 {
    flex-basis: calc( (100% * 5 / 12) - (2 * 0.5rem));
  }
  .xs6 {
    flex-basis: calc( (100% * 6 / 12) - (2 * 0.5rem));
  }
  .xs7 {
    flex-basis: calc( (100% * 7 / 12) - (2 * 0.5rem));
  }
  .xs8 {
    flex-basis: calc( (100% * 8 / 12) - (2 * 0.5rem));
  }
  .xs9 {
    flex-basis: calc( (100% * 9 / 12) - (2 * 0.5rem));
  }
  .xs10 {
    flex-basis: calc( (100% * 10 / 12) - (2 * 0.5rem));
  }
  .xs11 {
    flex-basis: calc( (100% * 11 / 12) - (2 * 0.5rem));
  }
  .xs12 {
    flex-basis: calc( (100% * 12 / 12) - (2 * 0.5rem));
  }
}

/* Pour les écrans S et au-delà (à partir de 480px) */
@media screen and (min-width: 480px) {
  .s1 {
    flex-basis: calc( (100% * 1 / 12) - (2 * 0.5rem));
  }
  .s2 {
    flex-basis: calc( (100% * 2 / 12) - (2 * 0.5rem));
  }
  .s3 {
    flex-basis: calc( (100% * 3 / 12) - (2 * 0.5rem));
  }
  .s4 {
    flex-basis: calc( (100% * 4 / 12) - (2 * 0.5rem));
  }
  .s5 {
    flex-basis: calc( (100% * 5 / 12) - (2 * 0.5rem));
  }
  .s6 {
    flex-basis: calc( (100% * 6 / 12) - (2 * 0.5rem));
  }
  .s7 {
    flex-basis: calc( (100% * 7 / 12) - (2 * 0.5rem));
  }
  .s8 {
    flex-basis: calc( (100% * 8 / 12) - (2 * 0.5rem));
  }
  .s9 {
    flex-basis: calc( (100% * 9 / 12) - (2 * 0.5rem));
  }
  .s10 {
    flex-basis: calc( (100% * 10 / 12) - (2 * 0.5rem));
  }
  .s11 {
    flex-basis: calc( (100% * 11 / 12) - (2 * 0.5rem));
  }
  .s12 {
    flex-basis: calc( (100% * 12 / 12) - (2 * 0.5rem));
  }
}

/* Pour les écrans M et au-delà (à partir de 768px) */
@media screen and (min-width: 768px) {
  .m1 {
    flex-basis: calc( (100% * 1 / 12) - (2 * 0.5rem));
  }
  .m2 {
    flex-basis: calc( (100% * 2 / 12) - (2 * 0.5rem));
  }
  .m3 {
    flex-basis: calc( (100% * 3 / 12) - (2 * 0.5rem));
  }
  .m4 {
    flex-basis: calc( (100% * 4 / 12) - (2 * 0.5rem));
  }
  .m5 {
    flex-basis: calc( (100% * 5 / 12) - (2 * 0.5rem));
  }
  .m6 {
    flex-basis: calc( (100% * 6 / 12) - (2 * 0.5rem));
  }
  .m7 {
    flex-basis: calc( (100% * 7 / 12) - (2 * 0.5rem));
  }
  .m8 {
    flex-basis: calc( (100% * 8 / 12) - (2 * 0.5rem));
  }
  .m9 {
    flex-basis: calc( (100% * 9 / 12) - (2 * 0.5rem));
  }
  .m10 {
    flex-basis: calc( (100% * 10 / 12) - (2 * 0.5rem));
  }
  .m11 {
    flex-basis: calc( (100% * 11 / 12) - (2 * 0.5rem));
  }
  .m12 {
    flex-basis: calc( (100% * 12 / 12) - (2 * 0.5rem));
  }
}

/* Pour les écrans L et au-delà (à partir de 992px) */
@media screen and (min-width: 992px) {
  .l1 {
    flex-basis: calc( (100% * 1 / 12) - (2 * 0.5rem));
  }
  .l2 {
    flex-basis: calc( (100% * 2 / 12) - (2 * 0.5rem));
  }
  .l3 {
    flex-basis: calc( (100% * 3 / 12) - (2 * 0.5rem));
  }
  .l4 {
    flex-basis: calc( (100% * 4 / 12) - (2 * 0.5rem));
  }
  .l5 {
    flex-basis: calc( (100% * 5 / 12) - (2 * 0.5rem));
  }
  .l6 {
    flex-basis: calc( (100% * 6 / 12) - (2 * 0.5rem));
  }
  .l7 {
    flex-basis: calc( (100% * 7 / 12) - (2 * 0.5rem));
  }
  .l8 {
    flex-basis: calc( (100% * 8 / 12) - (2 * 0.5rem));
  }
  .l9 {
    flex-basis: calc( (100% * 9 / 12) - (2 * 0.5rem));
  }
  .l10 {
    flex-basis: calc( (100% * 10 / 12) - (2 * 0.5rem));
  }
  .l11 {
    flex-basis: calc( (100% * 11 / 12) - (2 * 0.5rem));
  }
  .l12 {
    flex-basis: calc( (100% * 12 / 12) - (2 * 0.5rem));
  }
}

/* Pour les écrans XL et au-delà (à partir de 1200px) */
@media screen and (min-width: 1200px) {
  .xl1 {
    flex-basis: calc( (100% * 1 / 12) - (2 * 0.5rem));
  }
  .xl2 {
    flex-basis: calc( (100% * 2 / 12) - (2 * 0.5rem));
  }
  .xl3 {
    flex-basis: calc( (100% * 3 / 12) - (2 * 0.5rem));
  }
  .xl4 {
    flex-basis: calc( (100% * 4 / 12) - (2 * 0.5rem));
  }
  .xl5 {
    flex-basis: calc( (100% * 5 / 12) - (2 * 0.5rem));
  }
  .xl6 {
    flex-basis: calc( (100% * 6 / 12) - (2 * 0.5rem));
  }
  .xl7 {
    flex-basis: calc( (100% * 7 / 12) - (2 * 0.5rem));
  }
  .xl8 {
    flex-basis: calc( (100% * 8 / 12) - (2 * 0.5rem));
  }
  .xl9 {
    flex-basis: calc( (100% * 9 / 12) - (2 * 0.5rem));
  }
  .xl10 {
    flex-basis: calc( (100% * 10 / 12) - (2 * 0.5rem));
  }
  .xl11 {
    flex-basis: calc( (100% * 11 / 12) - (2 * 0.5rem));
  }
  .xl12 {
    flex-basis: calc( (100% * 12 / 12) - (2 * 0.5rem));
  }
}

/*
  ./scss/framework/modules/_boites.scss
  Module des boites
 */
/* Types de boîtes */
.boite-fixe {
  width: calc(100% - 1rem);
  max-width: 1200px;
  margin: auto;
}

.boite-marge-nulle {
  margin: 0;
}

/* Bordures */
.boite-bords {
  /*margin: 0;*/
  padding: 1rem;
  border: #666 1px solid;
}

/* Boîtes couleurs */
.boite-couleur1 {
  background: #00BC62;
  padding: 1rem;
  color: #fff;
}

.boite-couleur2 {
  background: #E6CF8B;
  padding: 1rem;
  color: #fff;
}

.boite-couleurNeutre {
  background: #999;
  padding: 1rem;
  color: #fff;
}

/* Boites flottantes */
.boite-flottante-gauche {
  float: left;
  margin: 0 1rem 1rem 0;
}

.boite-flottante-droite {
  float: right;
  margin: 0 0 1rem 1rem;
}

.boite-clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/*
  ./scss/framework/modules/_contenus.scss
  Module des contenus
 */
/* Alignement des contenus */
.contenu-centre {
  text-align: center;
}

.contenu-gauche {
  text-align: left;
}

.contenu-droite {
  text-align: right;
}

.contenu-justifie {
  text-align: justify;
}

/* Tailles de contenus */
.contenu-grand {
  font-size: 2rem;
}

.contenu-normal {
  font-size: 1.3rem;
}

.contenu-petit {
  font-size: 0.8rem;
}

/*AFFICHAGE DES CONTENUS*/
.contenu-inline > * {
  display: inline-block;
}

/*
  ./scss/framework/modules/_menus.scss
  Module des menus
 */
/* Menu horizontal */
.menu-horizontal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-horizontal > ul > li {
  display: inline-block;
}

.menu-horizontal a {
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

.menu-horizontal a:hover,
.menu-horizontal li.actif a,
.menu-horizontal a.actif {
  color: #E6CF8B;
}

/* Menu pagination */
.menu-pagination {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu-pagination a {
  display: block;
  border-top: #999 1px solid;
  border-bottom: #999 1px solid;
  border-right: #999 1px solid;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  background: #fff;
  color: #999;
}

.menu-pagination li:first-child a {
  border-left: #999 1px solid;
}

.menu-pagination li.actif a,
.menu-pagination li:first-child.actif a,
.menu-pagination li:first-child a:hover,
.menu-pagination a:hover {
  background: #00BC62;
  border-color: #00BC62;
  color: #fff;
}

/*
  ./scss/framework/modules/_visibilites.scss
  Module des visibilités
 */
/* xs-cache, s-visible */
.xs-cache {
  display: none;
}

@media screen and (min-width: 480px) {
  .s-cache {
    display: none;
  }
}

/* Pareil pour les .m-cache, .l-cache et .xl-cache */
.xs-visible {
  display: block;
}

.s-visible {
  display: none;
}

@media screen and (min-width: 480px) {
  .s-visible {
    display: block;
  }
}

/* Pareil pour les .m-visible, .l-visible et .xl-visible */
