/*
  ./scss/framework/modules/_visibilites.scss
  Module des visibilités
 */

/* xs-cache, s-visible */

    .xs-cache {
      display: none;
    }

    @media screen and (min-width: 480px){
      .s-cache {
        display: none;
      }
    }

    /* Pareil pour les .m-cache, .l-cache et .xl-cache */


    .xs-visible {
      display: block;
    }

    .s-visible {
      display: none;
    }

    @media screen and (min-width: 480px){
      .s-visible {
        display: block;
      }
    }

/* Pareil pour les .m-visible, .l-visible et .xl-visible */
