<!DOCTYPE html>
<html class="no-js">
<html lang="en">
<head>
{% include 'partials/head.html.twig' with {title: block('title')} %}
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2&appId=2125199427539239&autoLogAppEvents=1"></script>

  <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
    {% include 'partials/nav.html.twig' %}
  </div>
</header>
<!--/header-->
<!-- Our Portfolio -->
{% block content1 %}{% endblock %}

<hr>
<!-- Footer -->
<div class="footer">

{% include 'partials/footer.html.twig' %}
</div>
{% include 'partials/scripts.html.twig' %}
</body>
</html>
