{#
./templates/post/index.html.twig
Variables disponibles:
- posts Array((id,titre,texte_lead,texte_suite,locale,dateCreation,image,dateModification))

#}


{% for posts in post %}
<div class="row">
  <div class="col-xs-4"><a href="{{path('app.post.show',{id:posts.id,slug:posts.slug})}}"><img src="{{asset('img/blog/'~posts.image~'')}}" alt="Post Title"></a></div>
  <div class="col-xs-8">
    <div class="caption"><a href="{{path('app.post.show',{id:posts.id,slug:posts.slug})}}"> {{posts.titre}}</a></div>
    <div class="date">{{posts.dateCreation|date('Y-m-d')}} </div>
    <div class="intro">{{posts.texteLead|raw}} <a href="{{path('app.post.show',{id:posts.id,slug:posts.slug})}}">Read more...</a></div>
  </div>
</div>
{% endfor %}
