{#
./templates/post/liste.html.twig
Variables disponibles:
- posts Array((id,titre,texte_lead,texte_suite,locale,dateCreation,image,dateModification))

#}

<ul class="grid cs-style-2">
{% for posts in post %}
<!-- Blog Post Excerpt -->
<div class="col-sm-6">
  <div class="blog-post blog-single-post">
    <div class="single-post-title">
      <h2>{{posts.titre}}</h2>
    </div>

    <div class="single-post-image">
      <img src="{{asset('img/blog/'~posts.image~'')}}" alt="{{posts.titre}}">
    </div>

    <div class="single-post-info">
      <i class="glyphicon glyphicon-time"></i>{{posts.dateCreation|date("d M, Y ")}}  <a href="#" title="Show Comments">
        <i class="glyphicon glyphicon-comment"></i>11</a>
      </div>

      <div class="single-post-content">
        <p>
          {{posts.texteLead|raw}}
        </p>
        <a href="{{path('app.post.show',{id:posts.id,slug:posts.slug})}}" class="btn">Read more</a>
      </div>
    </div>
  </div>
  <!-- End Blog Post Excerpt -->
{% endfor %}
</ul>
