{#
./templates/post/listeSider.html.twig
Variables disponibles:
- posts Array((id,titre,texte_lead,texte_suite,locale,dateCreation,image,dateModification))

#}


{% for posts in post %}
<li><a href="{{path('app.post.show',{id:posts.id,slug:posts.slug})}}">{{posts.titre}}</a></li>
{% endfor %}
