{#
./templates/post/pagination.html.twig
Variables disponibles:
- posts Array((id,titre,texte_lead,texte_suite,locale,dateCreation,image,dateModification))

#}

{% for post in posts %}

<!-- Blog Post Excerpt -->
<div class="col-sm-6">
  <div class="blog-post blog-single-post">
    <div class="single-post-title">
      <h2>{{post.titre}}</h2>
    </div>

    <div class="single-post-image">
      <img src="{{asset('img/blog/'~post.image~'')}}" alt="{{post.titre}}">
    </div>

    <div class="single-post-info">
      <i class="glyphicon glyphicon-time"></i>{{post.dateCreation|date("d M, Y ")}}  <a href="#" title="Show Comments">
        <i class="glyphicon glyphicon-comment"></i>11</a>
      </div>

      <div class="single-post-content">
        <p>
          {{post.texteLead|raw}}
        </p>
        <a href="{{path('app.post.show',{id:post.id,slug:post.slug})}}" class="btn">Read more</a>
      </div>
    </div>
  </div>
  <!-- End Blog Post Excerpt -->
{% endfor %}




<!-- Pagination -->
<div class="pagination-wrapper">
  <ul class="pagination pagination-sm ">

    {{ knp_pagination_render(posts) }}
  </ul>
</div>
