{#
./templates/post/show.html.twig
Variables disponibles:
- posts Array((id,titre,texte_lead,texte_suite,locale,dateCreation,image,dateModification))

#}
{% extends 'base.html.twig' %}


{% block title %}{{post.slug}}{% endblock %}
{% block content1 %}


<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Blog Post</h1>
      </div>
    </div>
  </div>
</div>



<div class="section">
  <div class="container">
    <div class="row">
      <!-- Blog Post -->
      <div class="col-sm-8">
        <div class="blog-post blog-single-post">
          <div class="single-post-title">
            <h2>{{post.titre}}</h2>
          </div>

          <div class="single-post-image">
            <img src="{{asset('img/blog/'~post.image~'')}}" alt="{{post.titre}}">
          </div>
          <div class="single-post-info">
            <i class="glyphicon glyphicon-time"></i>{{post.dateCreation|date("d M, Y ")}}  <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
          </div>
          <div class="single-post-content">
            <p> {{post.texteLead|raw}}</p>
            <p> {{post.texteSuite|raw}}</p>
          </div>
        </div>
      </div>
      <!-- End Blog Post -->
      <!-- Sidebar -->
      <div class="col-sm-4 blog-sidebar">

        <h4>{{'categorie.show.sousTitre'|trans({}, 'body') }}</h4>
        <ul class="recent-posts">

          {{ render(controller('App\\Controller\\PostController::indexAction',{vue:'listeSider'})) }}

        </ul>

        <h4>Categories</h4>
        <ul class="blog-categories">
        {{ render(controller('App\\Controller\\CategorieController::indexAction',{vue:'liste'})) }}
      </ul>

    </div>
    <!-- End Sidebar -->
  </div>
</div>
</div>
{% endblock %}
