{#
./templates/work/show.html.twig
Variables disponibles:
- tag Array((id,nom,description))
- tag (work(id, titre,sousTitre,sousSousTitre,texte,locale,dateCreation,image,clienId))
#}
{% extends 'base.html.twig' %}


{% block title %}{{tag.slug}}{% endblock %}
{% block content1 %}


<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{tag.nom}}</h1>
      </div>
    </div>
  </div>
</div>



<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <div class="blog-post blog-single-post">



          <div class="single-post-content">
            <p> {{tag.description}}</p>

          </div>
        </div>
      </div>

      {{ render(controller('App\\Controller\\WorkController::paginationAction',{vue:'pagination',tag:tag.id})) }}

      <!-- End Sidebar -->
    </div>
  </div>
</div>
{% endblock %}
