{#
  ./templates/categorie/liste.html.twig
  Variables disponibles:
    - categorie Array((id,nom,description,locale))
#}

{% for categories in categorie %}
			<li><a href="{{path('app.categorie.show',{id:categories.id,slug:categories.slug})}}">{{categories.nom}}</a></li>
{% endfor %}
