{#
./templates/categorie/show.html.twig
Variables disponibles:
- categorie Array((id,nom,description,locale))
#}

{% extends 'base.html.twig' %}


{% block title %}{{categorie.slug}}{% endblock %}
{% block content1 %}

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{categorie.nom}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <!-- Blog Post -->
      <div class="col-sm-12">
        <div class="blog-post blog-single-post">

          <div class="single-post-content">
            <p> {{categorie.description}}</p>
          </div>
        </div>
      </div>


      {{ render(controller('App\\Controller\\PostController::paginationAction',{vue:'pagination',categorie:categorie.id})) }}

    </div>
  </div>
</div>
{% endblock %}
