{#
./templates/work/liste.html.twig
Variables disponibles:
- works Array((id, titre,sousTitre,sousSousTitre,texte,locale,dateCreation,image,clienId))
#}


{% for works in work %}
<div class="col-md-4 col-sm-6 js-count">
  <figure>
    <img src="{{asset('img/portfolio/'~works.image~'')}}" alt="{{works.image}}">
    <figcaption>
      <h3>{{works.titre|slice(0,15)}}</h3>
      <span>{{works.client}}</span>
      <a href="{{path('app.work.show',{id:works.id,slug:works.slug})}}">Take a look</a>
    </figcaption>
  </figure>
</div>
{% endfor %}
