{#
./templates/work/pagination.html.twig
Variables disponibles:
- works Array((id, titre,sousTitre,sousSousTitre,texte,locale,dateCreation,image,clienId))
#}



<ul class="grid cs-style-2">
{% include 'work/liste.html.twig' %}
</ul>

<!-- Pagination -->
<div class="pagination-wrapper">
  <ul class="pagination pagination-sm">
    {{ knp_pagination_render(work) }}
  </ul>
</div>
