{#
./templates/work/liste.html.twig
Variables disponibles:
- works Array((id, titre,sousTitre,sousSousTitre,texte,locale,dateCreation,image,clienId))
- works (tag(id,nom,description))
#}
{% extends 'base.html.twig' %}


{% block title %}{{work.slug}}{% endblock %}
{% block content1 %}
<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{work.titre}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <!-- Product Image & Available Colors -->
      <div class="col-sm-6">
        <div class="product-image-large">
          <img src="{{asset('img/portfolio/'~work.image~'')}}" alt="{{work.titre}}">
        </div>
        <div class="colors">
          <span class="color-white"></span>
          <span class="color-black"></span>
          <span class="color-blue"></span>
          <span class="color-orange"></span>
          <span class="color-green"></span>
        </div>
      </div>
      <!-- End Product Image & Available Colors -->
      <!-- Product Summary & Options -->
      <div class="col-sm-6 product-details">
        <h2>{{work.titre}}</h2>
        <br>
        <h3>{{'work.show.sousTitre'|trans({}, 'body') }}</h3>
        <p>
          {{work.texte|raw}}
        </p>
        <h3>{{'work.show.sousSousTitre'|trans({}, 'body') }}</h3>
        <p><strong>Client: </strong>{{work.client.pseudo}}</p>
        <p><strong>Date: </strong>{{work.dateCreation|date("d M, Y ")}} </p>
        <p><strong>Tags: </strong>
          {% for tag in work.tag %}
          <a href="{{path('app.tag.show',{id:tag.id,slug:tag.slug})}}">{{tag.nom}} </a> {{ not loop.last ? ', ' }}
          {% endfor %}
        </p>
      </div>
      <!-- End Product Summary & Options -->

    </div>
  </div>
</div>

<hr>

<div class="section">
  <div class="container">
    <div class="row">

      <div class="section-title">
        <h1>Similar Works</h1>
      </div>
      <ul class="grid cs-style-2">
        {{ render(controller('App\\Controller\\WorkController::similarAction',{vue:'liste',id:work.id})) }}
      </ul>


    </div>
  </div>
</div>
{% endblock %}
