{#
./templates/work/liste.html.twig
Variables disponibles:
- works Array((id, titre,sousTitre,sousSousTitre,texte,locale,dateCreation,image,clienId))
- works (tag(id,nom,description))
#}
<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <ol class="carousel-indicators">
    {% for i in 1..3 %}
    <li data-target="#main-slider" data-slide-to="{{i}}"class="{% if i == 1 %}active {% endif %}"></li>
  {% endfor %}


</ol>
<div class="carousel-inner">

  {% for works in work %}
  {% if works.enAvant != 0 %}
  <div class="item {% if loop.last  %}active {% else %} {% endif %}"  style="background: url('{{asset('img/portfolio/'~works.image)}}');background-size:cover;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="carousel-content centered">
            <h2 class="animation animated-item-1">{{works.titre}}</h2>
            <p class="animation animated-item-2">{{works.texte|slice(0,100)|raw}} </p>
            <br>
            <a class="btn btn-md animation animated-item-3" href="{{path('app.work.show',{id:works.id,slug:works.slug})}}"> Learn More </a>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.item-->
{% endif %}
{% endfor %}




</div><!--/.carousel-inner-->
</div><!--/.carousel-->

<a class="prev hidden-xs" href="#main-slider" data-slide="prev">
  <i class="icon-angle-left"></i>
</a>
<a class="next hidden-xs" href="#main-slider" data-slide="next">
  <i class="icon-angle-right"></i>
</a>
</section><!--/#main-slider-->
